.header {
    background: {
        color: #0b2950!important;
    }
    padding: 2vh;
}

.header__logo{
    background: {
        image: url("./../../assets/img/lg_white.png");
        repeat: no-repeat;
    } 
    min-height: 5vh;
}