<div class="ui-g">
     <div class="ui-g-2 ui-md-2 ui-sm-12">
            <button pButton type="button"
                        class="ui-button-danger" 
                       label="Cadastrar/Editar"></button>
     </div>

     <div class="ui-g-2 ui-md-2 ui-sm-12">
            <button pButton type="button"
                       label="Visualizar"
                       class="ui-button-danger"></button>
     </div>
</div>
